doctype html
html
    head
        title 게시판 상세
        script(src = 'http://code.jquery.com/jquery-3.3.1.min.js')
        script.
            $(document).ready(function(){
         
                $('#listBtn').click(function(){
                 
                    location.href= '/board'
                 })
            
                $('#delBtn').click(function(){
                    alert('ssdfds')
                    if(confirm('게시글을 삭제하시겠습니까?')){
                        $.ajax({
                            url : "/board/#{board.no}",
                            type : 'delete',
                            success : function(){
                                location.href = '/board';
                            },
                            error : function(){
                                alert('error');
                            }
                        })
                   }
                })
                $('#updateBtn').click(function(){
                    alert('수정하시겠습니까?')
                    location.href ='/board/post/#{board.no}' 
                })
            })
    body
        div(align ='center')
            br
            hr
            h2 게시판 상세 페이지
            hr
            br
            table(border='1', width ='80%')
                tr
                    th(width = '25%') 번호
                    td #{board.no}
                tr
                    th 제목
                    td #{board.title}
                tr 
                    th 내용
                    td #{board.content}
                tr
                    th 조회수
                    td #{board.view_cnt}
                tr 
                    th 등록일
                    td  #{board.reg_date}
            br
            button#updateBtn 수정
            &nbsp;&nbsp;&nbsp;
            button#delBtn 삭제
           
            &nbsp;&nbsp;&nbsp;
            button#listBtn 목록